<!DOCTYPE html>
<html>
  <head>
    <title>Soccer Players Data</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <select id="attribute-dropdown"></select>
    <div id="table-container"></div>

    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="static/script.js"></script>

    <div id="content">
      <div id="table-container"></div>
      <div id="visualizations">
        <div id="ageHistogram"></div>
        <div id="footBarChart"></div>
        <div id="scatterPlot"></div>
      </div>
    </div>
  </body>
</html>
